/* Estilos de texto */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p,
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button,
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a,
h2,
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h1,
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* Estilos generales */
html {
    font-size: 18px;
}

button {
    font-size: 1rem;
}

body {
    background-color: #9d75eb;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    box-shadow: 2px 2px 30px blueviolet;
    max-width: 80%;
    background: #f3eefc;
    margin: auto;
    border-radius: 20px;
    padding: 20px 30px 30px 30px;
}

h1,
h2 {
    color: blueviolet;
}

p {
    line-height: 1.5;
}

a {
    color: rgb(109, 10, 190);
}

/* Estilos del Blog */

#img-web {
    border-radius: 10px;
    border: 10px solid blueviolet;
    width: 50vw;
}

/* Estilos de la Trivia */

#start-button,
#trivia-buttons button {
    border-style: none;
    color: white;
    width: 30%;
    padding: 10px 20px;
    border-radius: 5px;
}

#start-button {
    background-color: blueviolet;
    box-shadow: 1px 3px 5px rgb(92, 9, 160);
}

#trivia-buttons button {
    background-color: #007bff;
    box-shadow: 1px 3px 5px rgb(9, 49, 160);
}

#start-button:hover,
#answers button:hover {
    background-color: rgb(109, 10, 190);
    cursor: pointer;
}

#trivia-buttons button:hover {
    background-color: #0044ff;
    cursor: pointer;
}

#start-container {
    margin-top: 30px;
    border: solid 2px blueviolet;
    border-radius: 10px;
    padding: 20px 10px 40px 10px;
}

#question-title,
#results-title,
#correction {
    width: 900px;
    max-width: 100%;
}

#answers {
    display: flex;
    flex-direction: column;
}

#answers button {
    width: 900px;
    max-width: 100%;
    margin: 10px 0px;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: blueviolet;
    border-style: none;
    color: white;
    box-shadow: 1px 3px 5px rgb(92, 9, 160);
}

#trivia-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

#emoji {
    margin: 30px 0px;
    font-size: 8rem;
}

#score {
    font-size: 4rem;
    margin: 40px 0px;
}

/* Para ocultar Trivia, resultados y seccion principal */
.hidden {
    display: none;
}

/* Estilos responsive */
@media (max-width: 768px) {
    #img-web {
        width: 90%;
    }

    #container {
        width: 70%;
    }

    #start-button,
    #trivia-buttons button {
        width: 100%;
    }

    #trivia-buttons {
        display: block;
    }

    #trivia-buttons button {
        margin: 10px 0px;
    }
}